.div1{
    height: 100px;
    background-color: rgb(78, 76, 76);
}
.div2{  height: 100px;
    background-color:burlywood;

}
.div3{  height: 100px;
    background-color:cadetblue;

}
.div4{  height: 100px;
    background-color:chartreuse;

}
.div5{  height: 100px;
    background-color:darkblue;

}
.div6{  height: 100px;
    background-color:darkmagenta;

}